* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-decoration: none;

  display: inline;
  padding: 0px 10px 0px 0px;
  margin: 0px;
}

.navSection {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  width: 100%;
  max-width: 930px;
  height: 70px;
}

.Brand {
  height: 50px;
}

.Brandbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  position: relative;
}

.BrandBox-left {
  display: flex;
  justify-content: left;
  height: 70px;
  align-items: center;
}

.BrandBox-right {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 70px;
}

.BrandBox-middle {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Main {
  max-width: 930px;
  width: 100%;
}

.btn-outline-secondary {
  --bs-btn-hover-color: black;
}
